.user-outer {
  color: blue;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  margin: 20px;
  text-align: center;
  align-items: center;
  display: flex;
 
}



.search-outer{
  background-color: lightseagreen;
  height: 100px;
  margin: 20px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}